NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0

# AWS
AWS_REGION=us-west-2

# DynamoDB
DYNAMODB_TABLE_JOBS=sodacircle-jobs
DYNAMODB_TABLE_CANDIDATES=sodacircle-candidates
DYNAMODB_TABLE_JOB_CANDIDATES=sodacircle-job-candidates
DYNAMODB_TABLE_MESSAGES=sodacircle-messages
DYNAMODB_TABLE_FEEDBACK=sodacircle-feedback

# App
APP_URL=https://sodacircle.example.com
